body{
    font-family:Rajdhani;
}
h2{
    color:black;
}
body.dark h2 {
    color: white; /* Cor do texto para o tema escuro */
}
.texto p{
    text-align: justify;
    max-width: 200px; /* Defina a largura máxima desejada */
  word-wrap: break-word; /* Permite quebrar palavras longas */
}

p{
    color:black;
    
}
.img{
    height:61vh;
    width:100%;
}

.div {
    margin-left: 5%;
    margin-top: 5%;
    
    border: none;

}

.div2{
    margin-left: 2%;
    align-items: top;
    margin-top: 6%;
    width: 30%;
}
.container {
    display: flex;
    flex-direction: row; /* Alinha os elementos na horizontal */
    align-items: flex-start; 
}



.botao {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #d8a2f6;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-family: Rajdhani;
    font-size: 18px;
}

.botao:before {
    content: '';
    background: linear-gradient(45deg, #a413f1, #e2b9f8, #ecd1fb, #f5e8fd, #e2b9f8, #cc00ff, #9900ff, #d45cec, #8400ff);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.botao:active {
    color: #d8a2f6;
}

.botao:active:after {
    background: transparent;
}

.botao:hover:before {
    opacity: 1;
}

.botao:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #d8a2f6;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.baixar {
    width:11%;
    height:7vh;
    border: none;
    outline: none;
    border-radius:200px;
    background-color: #d8a2f6;
    border:none;
    justify-content: center;
    margin-left: 3%;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    top: 8px;
}

.baixar:before {
    content: '';
    background: linear-gradient(45deg, #a413f1, #e2b9f8, #ecd1fb, #f5e8fd, #e2b9f8, #cc00ff, #9900ff, #d45cec, #8400ff);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.baixar:active {
    color: #d8a2f6;
}

.baixar:active:after {
    background: transparent;
}

.baixar:hover:before {
    opacity: 1;
}

.baixar:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #d8a2f6;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.imgLoad{
    width: 65%;
}

body.dark .imgLoad{
    filter: brightness(0%); 
}

body.dark .botao {
    color: black; /* Cor do texto para o tema escuro */
}